<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990344299709-esnklo6f469eh8ol292ijkih2s3q65t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990344299709-esnklo6f469eh8ol292ijkih2s3q65t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAnlR856YB8UL9xkJAE2GN-Sl7AtgInOeE</string>
	<key>GCM_SENDER_ID</key>
	<string>990344299709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.twapp.TwitterApplication</string>
	<key>PROJECT_ID</key>
	<string>twitterapplication-972c2</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterapplication-972c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990344299709:ios:c911a714a98c0fa92563d4</string>
</dict>
</plist>